@model MVCMARKMANAGE.Models.studentregister

@{
    ViewBag.Title = "addstdview";
    Layout = "~/Views/User/userlayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addstdview</title>
</head>
<body style="background-color:blanchedalmond">
    <center>
        <h1>Student Registration</h1>
        <br />
       

        @using (Html.BeginForm("addstdview", "User", FormMethod.Post))
        {
    <div style="margin-left:230px">
        <table width="50%" style="text-align:justify;">
            <tr>
                <td>RollNumber  </td>
                <td>
                    @Html.TextBoxFor(e => e.RollNumber)
                </td>
            </tr>
            <tr>
                <td> Student Name  </td>
                <td>
                    @Html.TextBoxFor(e => e.StdName)
                </td>
            </tr>

            <tr>
                <td>Gender  </td>
                <td>
                    @Html.RadioButtonFor(e => e.Gender, "Male")Male
                    @Html.RadioButtonFor(e => e.Gender, "Female")Female
                </td>
            </tr>

            <tr>
                <td>Location  </td>
                <td>
                    @Html.TextBoxFor(e => e.Location)
                </td>
            </tr>
            <tr>
                <td>Address  </td>
                <td>
                    @Html.TextBoxFor(e => e.Address)
                </td>
            </tr>
            <tr>
                <td>Phone  </td>
                <td>
                    @Html.TextBoxFor(e => e.Phone)
                </td>
            </tr>
            <tr>
                <td>Email  </td>
                <td>
                    @Html.TextBoxFor(e => e.Email)
                </td>
            </tr>
            <tr>
                <td>Password  </td>
                <td>
                    @Html.PasswordFor(e => e.Password)
                </td>
            </tr>
            <tr>
                <td>Class ID  </td>
                <td>
                    @Html.DropDownListFor(e => e.ClassId, ViewBag.CityList as SelectList)
                </td>
            </tr>

            <tr>
                <td colspan="2" style="padding:20px;text-align:center">
                    <input type="submit" value="Add Student" class="btn btn-primary" />
                </td>
            </tr>
            <tr>
                <td colspan="2">@ViewBag.update</td>
            </tr>
        </table>
    </div>}
    </center>
</body>
</html>


